snippet std "use namespace std" b
using namespace std;            
endsnippet                     

snippet main "main" b         
int main() { return 0; }     
endsnippet                  
                           
snippet ios "include ios" b
#include "iostream"       
endsnippet     

snippet vec "include vector" b
#include "vector"       
endsnippet
