keybinds {
 shared {
	 bind "F10" { CloseFocus; }
   unbind "Ctrl o"
   unbind "Ctrl g"
   unbind "Ctrl b"
   unbind "Ctrl p"
   unbind "Ctrl n"
   unbind "Ctrl s"
	 bind "F1" { SwitchToMode "Pane"; }
 }
 normal {
	bind "Ctrl s" { EditScrollback; }
 }
 pane {
	bind "v" { NewPane "Right"; SwitchToMode "Normal"; }
	bind "s" { NewPane "Down"; SwitchToMode "Normal"; }
 }
}

themes {
	gruvbox-dark {
		fg 213 196 161
		bg 40 40 40
		black 60 56 54
		red 204 36 29
		green 152 151 26
		yellow 215 153 33
		blue 69 133 136
		magenta 177 98 134
		cyan 104 157 106
		white 251 241 199
		orange 214 93 14
	}
}

theme "gruvbox-dark"
default_shell "nu"
pane_frames true
scrollback_editor "/opt/homebrew/bin/nvim"

simplified_ui false

ui {
  pane_frames {
	hide_session_name true
  }
}
plugins {
	tab-bar { path "tab-bar"; }
	status-bar { path "status-bar"; }
	strider { path "strider"; }
	compact-bar { path "compact-bar"; }
}
