[filter "lfs"]
	required = true
  	clean = git-lfs clean -- %f
  	smudge = git-lfs smudge -- %f
  	process = git-lfs filter-process
[alias]
  	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	last = log -1 HEAD
	rl = reflog
	h = log -p .
  	b = branch
  	bd = branch -D
  	rom = rebase origin/master
  	ri = rebase -i
  	ra = rebase --abort
  	rc = rebase --continue
        sw = switch
        swc = switch -c
  	swm = switch master
  	res = restore .
	ca = commit --amend
	cm = commit -m
	cms = commit -S -m
	cme = commit --allow-empty-message
        cl = clean -f . 
  	pomn = pull origin main
	pomr = pull origin master
  	dn = !git push --force-with-lease origin HEAD
  	st = status -sb
  	stu = stash -u
	ac = !git add . && git commit -am
  	rhom = reset --hard origin/master
  	cf = clean -f .
  	re = reset --hard @{u}
        ru = remote update
        fe = fetch
	pr = diff master...head
	pr-no = pr --name-only
        di = diff
	di-no = diff --name-only 
        up = diff @ @{upstream}
        up-no = diff @ @{upstream}
[core]
	editor = nvim
  	excludesFile = /Users/robbienohra/.gitignore
[filter "lfs"]
	required = true
  	clean = git-lfs clean -- %f
  	smudge = git-lfs smudge -- %f
  	process = git-lfs filter-process
[user]
	name = Robbie Nohra
  	signingkey = rnohra 
  	email = rnohra@benchsci.com
[init]
	defaultBranch = main
[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
[interactive]
	diffFilter = delta --color-only --features=interactive
[init]
	defaultBranch = main
[pager]
	branch = true
[merge]
	tool = fugitive
        conflictstyle = diff3
[mergetool "fugitive"]
	cmd = vim -f -c "Gvdiffsplit!"
[diff]
	colorMoved = default
[mergetool]
	prompt = false
[credential]
	helper = store
[pull]
        rebase = true
[delta]
  navigate = true  # use n and N to move between diff sections
  side-by-side = true
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE 
