layout {
	default_tab_template {
		pane size=1 borderless=true {
			plugin location="zellij:compact-bar"
		}
		children
	}

	swap_tiled_layout name="stack" {
		tab {
			pane stacked=true {
				pane
			}
		}
	}

	swap_tiled_layout name="tile" {
		tab {
		  pane
		}
	}
}
