layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
    plugin location="zellij:compact-bar"
  }
}

swap_tiled_layout name="tile" {
    tab {
      pane
  }
}

swap_tiled_layout name="stack" {
    tab {
      pane stacked=true {
        pane
      }
    }
  }
}
