keybinds clear-defaults=true {
  normal {
    bind "Ctrl k" { CloseFocus; SwitchToMode "Normal"; }
    bind "Alt u" { MoveFocus "Up"; }
    bind "Alt e" { MoveFocus "Down"; }
    bind "Alt n" { MoveFocus "Left"; }
    bind "Alt i" { MoveFocus "Right"; }
  }
  pane {
    bind "Ctrl p" { SwitchToMode "Normal"; }
    bind "o" { NewPane; SwitchToMode "Normal"; }
    bind "r" { SwitchToMode "RenamePane"; PaneNameInput 0;}
    bind "l" { Clear; }
    bind "f" { EditScrollback; }
    bind "u" { NewPane "Up"; SwitchToMode "Normal";}
    bind "e" { NewPane "Down"; SwitchToMode "Normal";}
    bind "i" { NewPane "Right"; SwitchToMode "Normal";}
    bind "n" { NewPane "Left"; SwitchToMode "Normal";}
    bind "k" { CloseFocus; }
    bind "PageUp" { HalfPageScrollUp; }
    bind "PageDown" { HalfPageScrollDown; }
  }
  locked {
    bind "Ctrl g" { SwitchToMode "Normal"; }
    bind "u" { HalfPageScrollUp; }
    bind "e" { HalfPageScrollDown; }
  }
  tab {
    bind "Ctrl t" { SwitchToMode "Normal"; }
    bind "o" { NewTab; SwitchToMode "Normal"; }
    bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
    bind "n"  { GoToPreviousTab; SwitchToMode "Normal"; }
    bind "i"  { GoToNextTab; SwitchToMode "Normal"; }
    bind "k" { CloseTab; SwitchToMode "Normal"; }
    bind "PageUp" { MoveTab "Left"; }
    bind "PageDown" { MoveTab "Right"; }
  }
  shared_except "locked" {
    bind "Ctrl g" { SwitchToMode "Locked"; }
    bind "Alt [" { PreviousSwapLayout; }
    bind "Alt ]" { NextSwapLayout; }
    bind "Alt f" {
        LaunchPlugin "filepicker" {
        };
    }
  }
  shared_except "normal" {
    bind "Enter" "Esc" { SwitchToMode "Normal"; }
  }
  shared_except "tab" "locked" {
    bind "Ctrl t" { SwitchToMode "Tab"; }
  }
  shared_except "pane" "locked" {
    bind "Ctrl p" { SwitchToMode "Pane"; }
  }
}

themes {
    nord {
        fg "#D8DEE9"
        bg "#2E3440"
        black "#3B4252"
        red "#BF616A"
        green "#A3BE8C"
        yellow "#EBCB8B"
        blue "#81A1C1"
        magenta "#B48EAD"
        cyan "#88C0D0"
        white "#E5E9F0"
        orange "#D08770"
    }
}

theme "nord"
default_shell "nu"
pane_frames true
scrollback_editor "/opt/homebrew/bin/nvim"

ui {
  pane_frames {
    hide_session_name true
  }
}

plugins {
  compact-bar { path "compact-bar"; }
}

pane_viewport_serialization true
