keybinds clear-defaults=true {
  normal {
    bind "Ctrl k" { CloseFocus; }
    bind "Alt u" { MoveFocus "Up"; }
    bind "Alt e" { MoveFocus "Down"; }
    bind "Alt n" { MoveFocus "Left"; }
    bind "Alt i" { MoveFocus "Right"; }
  }
  pane {
    bind "Ctrl p" { SwitchToMode "Normal"; }
    bind "o" { NewPane; SwitchToMode "Normal"; }
    bind "r" { SwitchToMode "RenamePane"; PaneNameInput 0;}
    bind "l" { Clear; }
    bind "f" { EditScrollback; }
    bind "u" { MovePane "Up"; }
    bind "e" { MovePane "Down"; }
    bind "i" { MovePane "Right"; }
    bind "n" { MovePane "Left"; }
    bind "k" { CloseFocus; }
  }
  locked {
    bind "Ctrl g" { SwitchToMode "Normal"; }
    bind "u" { HalfPageScrollUp; }
    bind "e" { HalfPageScrollDown; }
  }
  tab {
    bind "Ctrl t" { SwitchToMode "Normal"; }
    bind "o" { NewTab; SwitchToMode "Normal"; }
    bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
    bind "n"  { GoToPreviousTab; SwitchToMode "Normal"; }
    bind "i"  { GoToNextTab; SwitchToMode "Normal"; }
    bind "k" { CloseTab; }
    bind "PageUp" { MoveTab "Left"; }
    bind "PageDown" { MoveTab "Right"; }
  }
  shared_except "locked" {
    bind "Ctrl g" { SwitchToMode "Locked"; }
    bind "Alt [" { PreviousSwapLayout; }
    bind "Alt ]" { NextSwapLayout; }
    bind "Alt f" {
        LaunchPlugin "filepicker" {
            // floating true // uncomment this to have the filepicker opened in a floating window
            close_on_selection true // comment this out to have the filepicker remain open even after selecting a file
        };
    }
  }
  shared_except "normal" {
    bind "Enter" "Esc" { SwitchToMode "Normal"; }
  }
  shared_except "tab" "locked" {
    bind "Ctrl t" { SwitchToMode "Tab"; }
  }
  shared_except "pane" "locked" {
    bind "Ctrl p" { SwitchToMode "Pane"; }
  }
}

themes {
    tokyonight_moon {
        fg "#c8d3f5"
        bg "#2f334d"
        // Black should match the terminal background color
        // This ensures the top and bottom bars are transparent
        black "#222436"
        red "#ff757f"
        green "#c3e88d"
        yellow "#ffc777"
        blue "#82aaff"
        magenta "#c099ff"
        cyan "#86e1fc"
        white "#828bb8"
        orange "#ff966c"
    }
}

theme "tokyonight_moon"
default_shell "nu"
pane_frames true
scrollback_editor "/opt/homebrew/bin/nvim"

ui {
  pane_frames {
    hide_session_name true
  }
}

plugins {
  compact-bar { path "compact-bar"; }
}

pane_viewport_serialization true
