keybinds clear-defaults=true {
  normal {
    bind "Ctrl k" { CloseFocus; SwitchToMode "Normal"; }
    bind "Alt u" { MoveFocus "Up"; }
    bind "Alt e" { MoveFocus "Down"; }
    bind "Alt n" { MoveFocus "Left"; }
    bind "Alt i" { MoveFocus "Right"; }
  }
  pane {
    bind "Ctrl p" { SwitchToMode "Normal"; }
    bind "o" { NewPane; SwitchToMode "Normal"; }
    bind "r" { SwitchToMode "RenamePane"; PaneNameInput 0;}
    bind "l" { Clear; }
    bind "f" { EditScrollback; }
    bind "u" { MovePane "Up"; }
    bind "e" { MovePane "Down"; }
    bind "i" { MovePane "Right"; }
    bind "n" { MovePane "Left"; }
    bind "k" { CloseFocus; SwitchToMode "Normal"; }
    bind "PageUp" { HalfPageScrollUp; }
    bind "PageDown" { HalfPageScrollDown; }
  }
  locked {
    bind "Ctrl g" { SwitchToMode "Normal"; }
    bind "u" { HalfPageScrollUp; }
    bind "e" { HalfPageScrollDown; }
  }
  tab {
    bind "Ctrl t" { SwitchToMode "Normal"; }
    bind "o" { NewTab; SwitchToMode "Normal"; }
    bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
    bind "n"  { GoToPreviousTab; SwitchToMode "Normal"; }
    bind "i"  { GoToNextTab; SwitchToMode "Normal"; }
    bind "k" { CloseTab; SwitchToMode "Normal"; }
    bind "PageUp" { MoveTab "Left"; }
    bind "PageDown" { MoveTab "Right"; }
  }
  shared_except "locked" {
    bind "Ctrl g" { SwitchToMode "Locked"; }
    bind "Alt [" { PreviousSwapLayout; }
    bind "Alt ]" { NextSwapLayout; }
    bind "Alt f" {
        LaunchPlugin "filepicker" {
        };
    }
  }
  shared_except "normal" {
    bind "Enter" "Esc" { SwitchToMode "Normal"; }
  }
  shared_except "tab" "locked" {
    bind "Ctrl t" { SwitchToMode "Tab"; }
  }
  shared_except "pane" "locked" {
    bind "Ctrl p" { SwitchToMode "Pane"; }
  }
}

themes {
  kanagawa {
    bg "#DCD7BA"
    fg "#1F1F28"
    white "#090618"
    black "#dcd6ba"
    red "#e82424"
    green "#98bb6c"
    yellow "#e6c384"
    blue "#7fb4ca"
    magenta "#938aa9"
    cyan "#7aa89f"
    orange "#FFA066"
  }
}

theme "kanagawa"
default_shell "nu"
pane_frames true
scrollback_editor "/opt/homebrew/bin/nvim"

ui {
  pane_frames {
    hide_session_name true
  }
}

plugins {
  compact-bar { path "compact-bar"; }
}

pane_viewport_serialization true
